.main {
  text-align: center;
}

.topicsSelect {
  width: 350px;
  margin-bottom: 10px;
}

.flexRow {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonWrapper {
  width: 420px;
  display: flex;
}
